* {
  font-family: Atkinson Hyperlegible Next, Sans Serif;
  font-size: 14pt;

  /** default all margins to 0 */
  margin: 0;

  /** size of left margin (titles) */
  --left-margin-size: 10em;

  /** size of right margin (notes) */
  --right-margin-size: 10em;
}

/** Default to dark mode colors */
* {
  /** Gruvbox Material dark hard */
  --bg0: #1d2021;
  --fg0: #d4be98;
  --blue: #7daea3;
  --purple: #d3869b;
}

/* Light mode color override */
@media (prefers-color-scheme: light) {
  * {
    /** Gruvbox Material light hard */
    --bg0: #f9f5d7;
    --fg0: #654735;
    --blue: #45707a;
    --purple: #945e80;
  }
}

body {
  max-width: 50em;
  margin: 1em auto 1em;
  padding: 1em;
  color: var(--fg0);
  background-color: var(--bg0);
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:visited {
  color: var(--purple);
}

a:hover {
  text-decoration: underline;
}

p,
li,
.typst-frame,
.center-content {
  padding-left: 1em;
  line-height: 2em;
  text-align: left;
  margin-left: var(--left-margin-size);
  margin-right: var(--right-margin-size);
}

p,
.typst-frame {
  margin-bottom: 1em;
}

svg {
  >g {
    transform: scale(1.4);
  }

  .typst-text use {
    fill: var(--fg0) !important;
  }

  .typst-shape {
    stroke: var(--fg0) !important;
  }
}

/** TODO: disable floating on mobile */
.heading {
  float: left;
  text-align: right;
  width: var(--left-margin-size);
  line-height: 2em;
}