* {
  font-family: Atkinson Hyperlegible Next, Sans Serif;
  font-size: 14pt;

  /** default all margins to 0 */
  margin: 0;

  /** variables for body layout proportions */
  --body-margin-width: 20ch;
  --body-content-width: 60ch;
  --body-row-gap: 1em;
  --body-column-gap: 1ch;

  /** common styling configuration */
  --note-color: var(--grey0);
  --note-border: 1px solid var(--grey1);
  --note-padding: 1ch;
  --note-margin: 1ch;
}

body {
  margin: 1em 0;
  color: var(--fg0);
  background-color: var(--bg0);
  display: grid;
  grid-template-columns:
    1fr [heading] var(--body-margin-width) var(--body-column-gap) [content] var(--body-content-width) var(--body-column-gap) [notes] var(--body-margin-width) 1fr;
  align-items: first baseline;
  row-gap: var(--body-row-gap);
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:visited {
  color: var(--purple);
}

a:hover {
  text-decoration: underline;
}

p,
ul,
ol,
table,
.typst-frame {
  line-height: 2em;
  text-align: left;
  grid-column: content;
}

.center-content svg {
  max-width: 100%;
  font-size: 120%;
}

table {
  border: 1px solid;
  border-spacing: 0;
  align-items: center;
}

th,
td {
  border: 1px solid;
  padding: .5em;
}

ul,
ol {
  padding-left: 1em;

  ul,
  ol {
    padding-left: 2em;
  }
}

li>p {
  display: inline;
}

.center-content {
  display: flex;
  justify-content: center;
  grid-column: content;
  align-self: end;
}

.heading,
.note {
  line-height: 1.5em;
}

.heading {
  grid-column: heading;
  text-align: right;
  border-right: 1px solid;
  padding-right: 1ch;
}

.note {
  grid-column: notes;
  color: var(--note-color);
  padding-left: var(--note-padding);
  border-left: var(--note-border);
}

@media screen and (max-width: 62em) {
  body {
    margin: 1em;
    grid-template-columns: [content] 100%;
    font-size: 12pt;
  }

  .heading {
    text-align: left;
    grid-column: content;
    margin: auto;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--grey0);
  }

  .note {
    grid-column: content;
    margin: 0 var(--note-margin);
    padding: var(--note-padding);
    border: var(--note-border);
  }
}