* {
  font-family: Atkinson Hyperlegible Next, Sans Serif;
  font-size: 14pt;

  /** default all margins to 0 */
  margin: 0;
}

/** Gruvbox Material dark hard */
* {
  --bg0: #1d2021;
  --fg0: #d4be98;
  --grey0: #7c6f64;
  --blue: #7daea3;
  --purple: #d3869b;
}

body {
  margin: 1em 0;
  color: var(--fg0);
  background-color: var(--bg0);
  display: grid;
  grid-template-columns: 1fr [heading] 15em [content] 30em [notes] 15em 1fr;
  align-items: baseline;
  gap: 1em;
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:visited {
  color: var(--purple);
}

a:hover {
  text-decoration: underline;
}

p,
ul,
table,
.typst-frame {
  line-height: 2em;
  text-align: left;
  grid-column: content;
}

table {
  border: 2px solid;
  border-spacing: 0;
  align-items: center;
}

th,
td {
  border: 1px solid;
  padding: .5em;
}

ul,
ol {
  list-style-position: inside;
  padding-left: 0;

  ul,
  ol {
    padding-left: 2em;
  }
}

li>p {
  display: inline;
}

.center-content {
  display: flex;
  justify-content: center;
  grid-column: content;
}

.heading {
  grid-column: heading;
  text-align: right;
  line-height: 2em;
}

@media screen and (max-width: 54em) {
  body {
    margin: 1em;
    grid-template-columns: [content] 30em;
  }

  .heading {
    text-align: left;
    grid-column: content;
    width: 100%;
    border-bottom: 2px solid var(--grey0);
  }
}