* {
  font-family: Atkinson Hyperlegible Next, Sans Serif;
  font-size: 14pt;

  /** default all margins to 0 */
  margin: 0;
}

/** Default to dark mode colors */
* {
  /** Gruvbox Material dark hard */
  --bg0: #1d2021;
  --fg0: #d4be98;
  --grey0: #7c6f64;
  --blue: #7daea3;
  --purple: #d3869b;
}

/* Light mode color override */
@media (prefers-color-scheme: light) {
  * {
    /** Gruvbox Material light hard */
    --bg0: #f9f5d7;
    --fg0: #654735;
    --grey0: #a89984;
    --blue: #45707a;
    --purple: #945e80;
  }
}

body {
  margin: 1em 0;
  color: var(--fg0);
  background-color: var(--bg0);
  display: grid;
  grid-template-columns: 1fr [heading] 10em [content] 30em [notes] 10em 1fr;
  column-gap: 1em;
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:visited {
  color: var(--purple);
}

a:hover {
  text-decoration: underline;
}

p,
ul,
.typst-frame,
.center-content {
  grid-column: content;
  line-height: 2em;
  text-align: left;
}

.center-content {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
}

svg {
  >g {
    transform: scale(1.5);
    transform-origin: bottom center;
  }

  .typst-text use {
    fill: var(--fg0);
  }

  .typst-shape {
    stroke: var(--fg0);
  }
}

.heading {
  grid-column: heading;
  text-align: right;
  line-height: 2em;
}

@media screen and (max-width: 54em) {
  body {
    margin: 1em;
    display: inline-block;
  }

  .heading {
    text-align: left;
    width: 100%;
    border-bottom: 2px solid var(--grey0);
    margin-bottom: 1em;
  }
}